body{

    font-family:  'Roboto',sans-serif;
   
    background-color:#fff;
}

:root{
    --black: #212121;
    --white:#FFFFFF;
    --grey: #757575;
    --blue:#2196F3;
}

li{
    list-style-type: none;
}
/* Header */



.web-studio{
   
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.026;
    color: var(--black);
    text-decoration: none;
}
.text-studio-page-2{
   
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.04;
    letter-spacing: 0.02em;
    color: var(--black);

    text-decoration: none;
    
}

.text-studio-page-2:hover{
      color: var(--blue);
}



.web{
    color: var(--blue);
}

.text-studio{
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.04;
    letter-spacing: 0.02em;
    color: var(--blue);

    text-decoration: none;
}







.text-portfolio{
   
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.04;
    letter-spacing: 0.02em;
    color: var(--black);
    text-decoration: none;
}

.text-portfolio:hover{
    color: var(--blue);
}

.text-portfolio-page-2{
   
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.04;
    letter-spacing: 0.02em;
    color: var(--blue);
    text-decoration: none;
}



.contacts{
 
 font-style: normal;
 font-weight: 500;
 font-size: 14px;
 line-height: 1.04;
 letter-spacing: 0.02em;
 color: var(--black);
 text-decoration: none;
}

.contacts:hover{
    color: var(--blue);
}

.mail-header{

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.04;
letter-spacing: 0.02em;

text-decoration: none;

color:var(--grey);
}

.mail-header:hover{
    color: var(--blue);
}


.tel-header{
    
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.04;
    letter-spacing: 0.02em;

    text-decoration: none;

  color: var(--grey);
}


.tel-header:hover{
    color: var(--blue);
}

/* Page-1/index.html */

/* banner */
.banner{
/* height: 150px; */
background:  #2F303A;;
}

.banner__text{
 
   
    font-style: normal;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.044;
    text-align: center; 
   
    text-transform: uppercase;

   color: var(--white);

}

.btn-text-banner{
  
  
    
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.06;

    cursor: pointer;


    margin-left: 900px;
}

.btn-text-banner:hover{
    background: var(--blue);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: var(--white);
 
}
/* /banner */

/* feature */
.inner-content{
    background:  #E5E5E5;;
}
.features{
  margin-bottom: 100px;
}

.text-features{
   
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.04;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--black);
}

.description{
   
    font-style: normal;
    font-size: 14px;
    line-height: 1.04;

    letter-spacing: 0.03em;

    color: var(--grey);
}

.technology{
  
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.036;
    text-align: center;
    
    letter-spacing: 0.03em;

    color: var(--black);

}
/* /feature */



.our-team{
   
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.036;
    text-align: center;
}


.name-developer{
   
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.06;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--black);
}

.position{
   
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.06;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--grey);

}
/* /Team Work */
/* page-1/index.html */

.footer{
  
    height: 150px;
    
    background: #2F303A;
}

.web-studio-footer{
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.026;
    color: var(--white);
    text-decoration: none;
    margin-left: 120px;
   

}

.address{

    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    

    
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.04;

  

    letter-spacing: 0.03em;
    margin-right: auto;
   color: var(--white);
}

.mail-footer{
    /* position: absolute;
    width: 231px;
    height: 21px;
    left: 215px; */

    padding-top: 20px;
   
  text-decoration: none;
    
    font-size: 14px;
    line-height: 1.04;
    letter-spacing: 0.03em;
    color:var(--grey);

}

.mail-footer:hover{
  color: var(--white);
}

.tel-footer{
  
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.04;
   text-decoration: none;
   letter-spacing: 0.03em;
  color:var(--grey);
}

.tel-footer:hover{
    color: var(--white);
}


/* Page-2 /Portfolio.html */

.btn-all{
    background: var(--blue);
    border-radius: 4px;
/* Text */

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.06;
text-align: center;
letter-spacing: 0.03em;
color: var(--white);

}

.buttoms{
    background:  #F5F4FA;
    border-radius: 4px;
    cursor: pointer;


    /* Text */

    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.06;

    text-align: center;

    letter-spacing: 0.03em;

    color: var(--black);

}

.buttoms:hover{
color: var(--white);
 background: var(--blue);
border-radius: 4px;
}

.text-heading-present{
  
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.08;
    letter-spacing: 0.06em;
     
     color: var(--black);

}

.discription-text-present{

   
    font-style: normal;
    font-size: 16px;
    line-height: 1.06;
    letter-spacing: 0.03em;
    
    color: var(--grey);
}

.link-presentation{
    text-decoration: none;
}