body{

    font-family: 'Raleway', 'Roboto',sans-serif;
   
    background-color:#fff;
}


li{
    list-style-type: none;
}
/* Header */

.web-studio{
    /* position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top:24px; */

    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.026em;
    color: black;
    text-decoration: none;
}
.text-studio-page-2{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14x;
    line-height: 1.04em;
    letter-spacing: 0.02em;
    color: #212121;

    text-decoration: none;
    
}

.text-studio-page-2:hover{
      color: #2196F3
}



.web{
    color: #2196F3;
}

.text-studio{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14x;
    line-height: 1.04em;
    letter-spacing: 0.02em;
    color: #2196F3;

    text-decoration: none;
}







.text-portfolio{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14x;
    line-height: 1.04em;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.text-portfolio:hover{
    color: #2196F3;
}

.text-portfolio-page-2{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14x;
    line-height: 1.04em;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}



.contacts{
 font-family: 'Roboto',sans-serif;
 font-style: normal;
 font-weight: 500;
 font-size: 14x;
 line-height: 1.04em;
 letter-spacing: 0.02em;
 color: #212121;
 text-decoration: none;
}

.contacts:hover{
    color: #2196F3;
}

.mail-header{
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.04em;
letter-spacing: 0.02em;

text-decoration: none;

color: #757575;
}

.mail-header:hover{
    color: #2196F3;
}


.tel-header{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.04em;
    letter-spacing: 0.02em;

    text-decoration: none;

    color: #757575;
}

.tel-header:hover{
    color: #2196F3; 
}

/* Page-1/index.html */

/* banner */
.banner{
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0;
    top:200px;
    background:  #2F303A;;
}

.banner__text{
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 30px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 900;
    font-size: 44px;
    line-height: 1.044em;

    text-align: center;

    text-transform: uppercase;

    color: #fff;

}

.btn-text-banner{
    position: absolute;
    width: 136px;
    height: 30px;
    left: 732px;
    top: 160px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.06em;

    cursor: pointer;
}

.btn-text-banner:hover{
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color:
 #fff;
}
/* /banner */

/* feature */

.features{
  margin-top: 250px;
}

.text-features{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.04em;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.description{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.04em;

    letter-spacing: 0.03em;

    color: #757575;
}

.technology{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.036em;
    text-align: center;
    
    letter-spacing: 0.03em;

    color: #212121;

}
/* /feature */



.our-team{
    font-family: 'Roboto'sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.036em;
    text-align: center;
}


.name-developer{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.06em;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.position{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.06em;
    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;

}
/* /Team Work */
/* page-1/index.html */

.footer{
    width: 100%;
    height: 150px;
    left: 0;
    top:1097px;
    background: #2F303A;
}

.web-studio-footer{
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.026em;
    color:#fff;
    text-decoration: none;

}

.address{

    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
   

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.04em;


    letter-spacing: 0.03em;

    color: #fff;
}

.mail-footer{
    /* position: absolute;
    width: 231px;
    height: 21px;
    left: 215px; */

    padding-top: 20px;
   
  
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    line-height: 1.04em;
    letter-spacing: 0.03em;
     color: #757575;

}

.mail-footer:hover{
    color: rgba(255, 255, 255, 0.6);
}

.tel-footer{
   font-family: 'Roboto',sans-serif;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 1.04em;

   letter-spacing: 0.03em;
   color: #757575;
}

.tel-footer:hover{
    color: rgba(255, 255, 255, 0.6);
}


/* Page-2 /Portfolio.html */

.btn-all{
    background: #2196F3;
/* Text */
font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.06em;
text-align: center;
letter-spacing: 0.03em;
color: #fff;

}

.buttoms{
    background:  #F5F4FA;
    border-radius: 4px;
    cursor: pointer;


    /* Text */

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.06em;

    text-align: center;

    letter-spacing: 0.03em;

    color: #212121;
}

.buttoms:hover{
    color: #fff;
background-color:#2196F3 ;
border-radius: 4px;
}

.text-heading-present{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.08em;
     letter-spacing: 0.06em;

     color:  #212121;;

}

.discription-text-present{

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.06em;
    letter-spacing: 0.03em;

    color: #757575;
}